:root {
  --dark-color: #1e1e1e;
  --white-color: #ffffff;
  --grey-color: #282828;
  --base-spacing: 1rem;
}

.container {
  /* max-width: 1280px; */
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.side-panel {
  grid-column: span 3 / span 3;
  grid-row: span 12 / span 12;
  background-color: var(--dark-color);
  color: rgba(255, 255, 255, 0.87);
  padding: calc(var(--base-spacing) * 0.5) calc(var(--base-spacing) * 1);
}

.header {
  grid-column: span 9 / span 9;
  grid-column-start: 4;
  background-color: var(--grey-color);
}

.main {
  grid-column: span 9 / span 9;
  grid-row: span 11 / span 11;
  grid-column-start: 4;
  grid-row-start: 2;
  background-color: var(--white-color);
  color: var(--dark-color);
}
.header {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: calc(var(--base-spacing) * 0.5) calc(var(--base-spacing) * 1);
}
