@import url("@radix-ui/colors/gray.css");
@import url("@radix-ui/colors/gray-dark.css");
@import url("@radix-ui/colors/gray-dark-alpha.css");
@import url("@radix-ui/colors/gray-alpha.css");

:root {
  --dark-color: #1e1e1e;
  --white-color: #ffffff;
  --grey-color: #282828;
  --base-spacing: 1rem;
}

.title {
  background-color: var(--gray-a2);
  border-bottom: 1px solid var(--gray-8);
  border-right: 1px solid var(--gray-8);
}

.sidebar {
  background-color: var(--gray-a2);
  border-right: 1px solid var(--gray-8);
}

.sideTitle {
  background-color: var(--gray-3);
  border-bottom: 1px solid var(--gray-8);
  border-right: 1px solid var(--gray-8);
}

.header {
  background-color: var(--gray-3);
  border-bottom: 1px solid var(--gray-8);
}

.sideContent {
  background-color: var(--gray-3);
  border-right: 1px solid var(--gray-8);
}

.content {
  background-color: var(--gray-3);
}

.footer {
  background-color: var(--gray-4);
  border-top: 1px solid var(--gray-8);
}

.listItem {
  width: 100%;
  padding: 24px 16px;
}
